* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #fff;
  color: #222;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 40px;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 600;
  color: #ff385c;
}

.search-box {
  display: flex;
  gap: 8px;
  background: #f5f5f5;
  padding: 6px 10px;
  border-radius: 30px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  width: 200px;
}

.search-box button {
  border: none;
  background: #ff385c;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
}

.nav-right {
  display: flex;
  gap: 18px;
  align-items: center;
}

.nav-right a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
}


.categories {
  display: flex;
  align-items: center;
  gap: 28px;
  padding: 16px 40px;
  border-bottom: 1px solid #eee;
  overflow-x: auto;
}

.cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-size: 13px;
  color: #777;
  cursor: pointer;
}

.cat.active {
  color: black;
  border-bottom: 2px solid black;
  padding-bottom: 4px;
}

.toggle-box {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  white-space: nowrap;
}


.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #ff385c;
}

input:checked + .slider:before {
  transform: translateX(20px);
}


.container {
  padding: 30px 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 26px;
}

.card {
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 16px;
  transition: 0.3s ease;
}

.card:hover img {
  transform: scale(1.03);
}


.card h3 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}

.card p {
  margin-top: 4px;
  font-size: 14px;
  color: #555;
}



.footer {
  margin-top: 60px;
  padding: 30px;
  background: #afaeae;
  text-align: center;
  font-size: 20px;
  color: #101010;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 16px;
  font-size: 18px;
  margin-bottom: 10px;
}
